<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <title>Dict</title>
    </head>

    <body>
        <img src ="{% static "dict.jpg" %}" alt ="Pic of Dict" /> 

        <form id="form" method="post" action="">

            {% csrf_token %}
			{{ form.text.errors }}
			{{ form.text }}

            <input type="submit" name="translate" value="Translate" />
        </form>

		<br/>

			{% load dict_trans %}
			{% get_dict trans_form.data.text %}



    </body>
</html>
