<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <title>Dict</title>
    </head>

    <body>
        <img src ="{% static "dict.jpg" %}" alt ="Pic of Dict" /> 

        <form id="form" method="get" action="/rango/translate/">

            {% csrf_token %}
	    {{ form.text }}

            <input type="submit" name="translate" value="Translate" />
        </form>

	<br/>

	{% if form.data.text %}

	    <form id="form" method="post" action="/rango/modify/{{ form.data.translation }}/">

		{% csrf_token %}
		{{ form.data.translation }}
		<input type="submit" name="modify" value="Modify" />
		
	    </form>

	{% endif %}

    </body>
</html>

<style type="text/css">
    #ranks li {
	display: inline-block;
    }
</style>
