<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...hello world!</h1>
        <img src ="{% static "rango.jpg" %}" alt ="Pic of Rango" /> <!-- New line --> 

        <form id="form" method="post" action="">

            {% csrf_token %}
<!--
            {% for hidden in cform.hidden_fields %}
                {{ hidden }}
            {% endfor %}
-->

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Translate" />
        </form>
    </body>
</html>
