<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <title>Dict</title>
    </head>

    <body>

	{{ trans }}
	{{ form }}
        <br />

        <form id="modify_form" method="get" action="/rango/modify_item">

            {% csrf_token %}
	    <div>
		<label>Replace translation:</label>
	    </div>

		{{ trans }}
                {{ form.text.errors }}
                {{ form.text }}
		<label><--></label>
                {{ form.translation.errors }}
                {{ form.translation }}
            <input type="submit" name="modify" value="Replace" />

        </form>

    </body>

</html>
