<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <title>Dict</title>
    </head>

    <body>
        <h1>translate</h1>

        <form id="form" method="" action="/rango/">

            {% csrf_token %}
	    {{ form.text.errors }}
	    {{ form.text.data }}
	    <label><--></label>
	    {{ form.translation.errors }}
	    {{ form.translation.data }}
            <input type="submit" name="back" value="Back" />

        </form>

        <br />

        <form id="modify_form" method="get" action="/rango/modify_item">

            {% csrf_token %}
	    <div>
		<label>Replace translation:</label>
	    </div>
                {{ form.text.errors }}
                {{ form.text }}
		<label><--></label>
                {{ form.translation.errors }}
                {{ form.translation }}
            <input type="submit" name="modify" value="Replace" />

        </form>

    </body>

</html>
